In [1]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

In [2]:
#defining the path of chrome webdriver
path="C://chromedriver.exe"

# Question 1
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
    
1.First get the webpage **https://www.shine.com/**

2.Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.

3.Then click the searchbutton.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

In [115]:
#chrome browser to webdriver 
driver=webdriver.Chrome()

In [116]:
# 1.First get the webpage
driver.get('https://www.shine.com/')

In [117]:
#maximizing the window
driver.maximize_window()

In [118]:
# 2.Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#finding and clicking the job title input box

job_=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/input")
job_.click()

In [119]:
#Input Data Analyst

title=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
title.send_keys('Data Analyst')

In [120]:
# Input location Bangalore 

location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]")
location.send_keys('Bangalore')

In [126]:
#for blocking the pop up

pop_up=driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/button")
pop_up.click()

In [122]:
# 3.click to the search bar.
search_button=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_button.click()

In [123]:
#empty lists 
job_title=[]
job_location=[]
company_name=[]
experience=[]
count=10

In [124]:
# 4.Then scrape the data for the first 10 jobs results you get.
count=10

# job titles 

for tit in driver.find_elements(By.XPATH,"//h2[@itemprop='name']"):
    if len(job_title)<count:
        job_title.append(tit.text)
        
# job locations 

for loc in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']"):
    if len(job_location)<count:
        job_location.append(loc.text.replace('\n','')) 
        
#company name 

for com in driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']"):
    if len(company_name)<count:
        company_name.append(com.text.capitalize())
        
# experience

for exp in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']"):
    if len(experience)<count:
        experience.append(exp.text)

In [125]:
# 5.created a dataframe of the scraped data.

df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location,'Company Name':company_name,'Experience Required':experience })
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Delhi,Unnati,3 to 5 Yrs
1,"Data Analyst , Senior Data Analyst , Data Anal...",Other Maharashtra,Aryantech india pvt ltd,0 to 3 Yrs
2,Hiring candidates for Marketing with Fare & Da...,Noida+2,Sharda it services,2 to 5 Yrs
3,Senior Data Analyst,Other Maharashtra+1,Clairvoyant,6 to 9 Yrs
4,Hiring for Fare & Data Analyst-Travel process,Noida+2,Sharda it services,1 to 6 Yrs
5,Data Analyst,All India,Titan company limited,5 to 10 Yrs
6,Risk and Finance Big Data Analyst,Other Karnataka,Cygnus professionals inc.,3 to 7 Yrs
7,"Data Analyst | Sql , Python , GCP , Cassandra ...",Other Karnataka,Cisco,7 to 11 Yrs
8,Supply Chain Data Analyst,Other Maharashtra+1,Emerson career site,3 to 7 Yrs
9,Data Analyst,Other Karnataka,Airbus,2 to 6 Yrs

# Question 2
Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

1.First get the webpage https://www.shine.com/

2.Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.

3.Then click the search button.

4.Then scrape the data for the first 10 jobs results you get.

5.Finally create a dataframe of the scraped data.

In [88]:
# chrome browser to webdriver
driver=webdriver.Chrome()

In [89]:
# 1.First get the webpage

driver.get('https://www.shine.com/')

In [90]:
#maximizing the window
driver.maximize_window()

In [91]:
# 2.Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
#finding and clicking the job title input box

job=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/input")
job.click()

In [92]:
#entering Data Scientist as input to the inbox

new=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
new.send_keys('Data Scientist')

In [96]:
#entering Bangalore by locating element by XPATH

loc=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[3]/div/input[1]")
loc.send_keys('Bangalore')

In [95]:
#for blocking the pop-up

pop_up=driver.find_element(By.XPATH,"/html/body/div/div[2]/div/div/button")
pop_up.click()

In [97]:
# 3.click the search button.

search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [ ]:
#making empty lists to store specific information
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [98]:
# 4.scraping the data for the first 10 jobs results we got.
count=10

# job titles

for p in driver.find_elements(By.XPATH,"//h2[@itemprop='name']"):
    if len(job_title)<count:
        job_title.append(p.text)

# job location

for l in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']"):
    if len(job_location)<count:
        job_location.append(l.text.replace('\n',''))   
        
# company name 

for c in driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']"):
    if len(company_name)<count:
        company_name.append(c.text.capitalize())
        
# experience  

for e in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']"):
    if len(experience)<count:
        experience.append(e.text)

In [99]:
# 5.created a dataframe of the scraped data.

df_1=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location,'Company Name':company_name,'Experience Required':experience })
df_1

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,Australia+2,Advance immigrations,8 to 13 Yrs
1,Data Scientist,Virgin Islands (UK)+3,Skywalk visa immigration services l...,2 to 7 Yrs
2,ML Data Scientist,Bangalore+3,Gujarat facility services hiring fo...,5 to 8 Yrs
3,Data Scientist | Senior Data Scientist Chennai,Chennai,Talent leads hr solutions pvt ltd,8 to 13 Yrs
4,Data Scientist Urgent Vacancy,Canada+15,Renuka interprises,0 to 4 Yrs
5,Data Scientist Urgent Vacancy,Canada+15,Renuka interprises,0 to 4 Yrs
6,Data Scientist Urgent Vacancy,Canada+15,Renuka interprises,0 to 4 Yrs
7,Data Scientist,Gurugram+1,Right advisors private limited,2 to 7 Yrs
8,Data Scientist/Data Analyst-17740,All India,Gemraj technologies ltd,3 to 7 Yrs
9,Senior Data Scientist - Claims Analysis,Other Karnataka,Molecular connections,2 to 5 Yrs

# Question 3
Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

The task will be done as shown in the below steps:
    
1.first get the web page https://www.shine.com/
    
2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.

3.Then click the search button.

4.Then apply the location filter and salary filter by checking the respective boxes

5.Then scrape the data for the first 10 jobs results you get.

6.Finally create a dataframe of the scraped data.

In [127]:
#chrome browser to webdriver
driver=webdriver.Chrome()

In [128]:
# 1.first getting the web page https://www.shine.com/

driver.get('https://www.shine.com/')

In [129]:
#maximizing the window
driver.maximize_window()

In [130]:
# 2.Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#finding and clicking the job title input box

input_click=driver.find_element(By.XPATH,"/html/body/div/header/div[3]/div/div/div[1]/div/input")
input_click.click()

In [131]:
#Input Data Scientist 

position=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
position.send_keys('Data Scientist')

In [132]:
#locating the search button and clicking

search_=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search_.click()

In [133]:
# 3.click to the search button.

loc_click=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button")
loc_click.click()

In [134]:
# 4.Then apply the location filter and salary filter by checking the respective boxes

In [135]:
#enter input as Delhi

loc=driver.find_element(By.XPATH,'/html/body/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
loc.send_keys('Delhi')

In [136]:
#tick to the delhi check box

box=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
box.click()

In [137]:
#click to the show results button

result=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div/div[4]/button[2]")
result.click()

In [138]:
#finding and clicking on the salary filter button

sal_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div/div/div[2]/div/ul/li[3]/button")
sal_filter.click()

In [139]:
#tick to the 3-5L check box

salary=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
salary.click()

In [140]:
#click tothe show results button

show_result=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[4]/button[2]")
show_result.click()

In [141]:
#empty lists
job_title=[]
job_location=[]
company_name=[]
experience=[]

In [142]:
# 5.scraping the data for the first 10 jobs results we got.
# count set as 10 to scrap the first 10(0-9) results
count=10  

# job titles

for p in driver.find_elements(By.XPATH,"//h2[@itemprop='name']"):
    if len(job_title)<count:
        job_title.append(p.text)
        
# job locations

for l in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']"):
    if len(job_location)<count:
        job_location.append(l.text.replace('\n',''))   
        
# company names

for c in driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']"):
    if len(company_name)<count:
        company_name.append(c.text.capitalize())
        
# experience 

for e in driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']"):
    if len(experience)<count:
        experience.append(e.text)

In [143]:
# 6.created a dataframe of the scraped data.
df_1=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location,'Company Name':company_name,'Experience Required':experience })
df_1

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,Delhi+4,Acme services private limited,3 to 5 Yrs
1,Hiring candidates for Marketing with Fare & Da...,Delhi+2,Sharda it services,2 to 5 Yrs
2,Hiring for Fare & Data Analyst-Travel process,Delhi+2,Sharda it services,1 to 6 Yrs
3,Clinical Data Analyst,Delhi+6,Techno endura,0 to 1 Yr
4,Clinical Sas Programmer,Delhi+8,Techno endura,0 to 2 Yrs
5,Clinical SAS,Delhi+8,Techno endura,0 to 2 Yrs
6,Apprentice Trainee,Delhi+9,Mahima consultancy,0 Yrs
7,Clinical Data Management,Delhi+6,Techno endura,0 to 1 Yr
8,Bioanalytical Research,Delhi+6,Techno endura,0 to 1 Yr
9,Junior Clinical Data Management,Delhi+6,Techno endura,0 to 1 Yr

# Question 4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1.Brand

2.Product Description

3.Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1.Go to Flipkart webpage by url : https://www.flipkart.com/
        
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

3.After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

4.	After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.

5.	Now scrape data from this page as usual

6.	Repeat this until you get data for 100sunglasses

In [186]:
# chrome browser to webdriver
driver=webdriver.Chrome()

In [187]:
# 1.Go to Flipkart webpage by url : https://www.flipkart.com/
driver.get("https://www.flipkart.com/")

In [188]:
#maximizing the window
driver.maximize_window()

In [189]:
# 2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

In [190]:
#finding and clicking the search input box

first_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
first_click.click()

In [191]:
#sending input Sunglasses in the search box

item=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
item.send_keys("Sunglasses")

In [192]:
#click to the search button

second_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
second_click.click()

In [193]:
#empty lists 
brand_name=[]
price_name=[]
descs_name=[]
offs_name=[]

In [194]:
#scraping data till 100 count
count=100

#for page 1
for i in range(1,2):
    
    # brand name
    
    for brd in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
        if len(brand_name)<count:
            brand_name.append(brd.text) 
        
    # prices 
    
    for prc in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
        if len(price_name)<count:
            price_name.append(prc.text)
        
    #description
    
    for dsc in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
        if len(descs_name)<count: 
            descs_name.append(dsc.text)
        
    # offers  
    
    for ofr in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
        if len(offs_name)<count: 
            offs_name.append(ofr.text)   

        
    #next page button for page 1 
    
    next_button=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    next_button.click()
    
    #sleep for 3 secs
    sleep(3)


#for page 2 and beyond    
for i in range(2,4):
    
    
    # brand name 
    
    for brd in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
        if len(brand_name)<count:
            brand_name.append(brd.text)
            
    # prices  
    
    for prc in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
        if len(price_name)<count:
            price_name.append(prc.text)
    
    # description
    
    for dsc in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
        if len(descs_name)<count: 
            descs_name.append(dsc.text)
            
    # offers 
    
    for ofr in driver.find_elements(By.CLASS_NAME,'_3Ay6Sb'):
        if len(offs_name)<count: 
            offs_name.append(ofr.text)
            
    #next page button for page 2 and beyond (scrapping till we get 100 results)
    
    next__=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
    next__.click()  
    
    #sleep for 2 secs
    sleep(2)

In [195]:
#created a dataframe of the scraped data.

df_2=pd.DataFrame({'Brand Name':brand_name,'Price Description':descs_name,'Price':price_name,'Discount':offs_name})
df_2

,Brand Name,Price Description,Price,Discount
0,Eyenaks,UV Protection Rectangular Sunglasses (Free Size),₹346,76% off
1,Eyewearlabs,"Polarized, UV Protection Wayfarer Sunglasses (51)","₹1,236",65% off
2,ROADWAY,"UV Protection Wayfarer, Sports, Spectacle , Re...",₹129,90% off
3,SRPM,UV Protection Wayfarer Sunglasses (50),₹169,86% off
4,ROADWAY,UV Protection Retro Square Sunglasses (Free Size),₹169,86% off
...,...,...,...,...
95,Fastrack,"Gradient, UV Protection Retro Square Sunglasse...",₹539,72% off
96,AISLIN,"UV Protection Round, Wayfarer Sunglasses (52)",₹745,71% off
97,ROYAL SON,Polarized Rectangular Sunglasses (56),₹854,63% off
98,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹590,20% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹385,82% off

# Question 5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:

1.	Rating

2.	Review summary

3.	Full review

4.	You have to scrape this data for first 100reviews.

In [196]:
#connecting chrome browser to webdriver
driver=webdriver.Chrome()

In [197]:
#open flipkart 

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [198]:
#maximizing the window
driver.maximize_window()

In [199]:
#empty lists 
ratings=[]
review=[]
full_review=[]

In [200]:
# scaping data till we get 100 results
count=100

#for page 1
for i in range(1,2):
    
    # ratings 
    
    for rtg in driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']"):
        if len(ratings)<count:
            ratings.append(rtg.text) 
        
     # reviews  
    
    for rws in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
         if len(review)<count:
            review.append(rws.text)
        
    # full reviews
    
    for frws in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
         if len(full_review)<count:
            full_review.append(frws.text.replace('\n',' '))
        

     #next page button for page1 
    
    next_=driver.find_element(By.XPATH,"(//a[@class='_1LKTO3'])[1]")
    next_.click()
    
    #sleep
    sleep(3)
    
    
#for page 2 and next page  

for i in range(2,11):
    
    # ratings
    
    for rtg in driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']"):
        if len(ratings)<count:
            ratings.append(rtg.text) 
        
     # reviews 
    
    for rws in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
         if len(review)<count:
            review.append(rws.text)
        
    # full reviews
    
    for frws in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']"):
         if len(full_review)<count:
            full_review.append(frws.text.replace('\n',' '))
        
    #next page button for page 2 and next page
    
    next__=driver.find_element(By.XPATH,"(//a[@class='_1LKTO3'])[2]")
    next__.click()
    
    #sleep
    sleep(2)

In [201]:
#creating dataframe and storing the data

df_3=pd.DataFrame({'Ratings':ratings,'Review Summary':review,'Full Review':full_review})
df_3

,Ratings,Review Summary,Full Review
0,5,Perfect product!,V Good all
1,5,Wonderful,This is amazing at all
2,5,Terrific,Very very good
3,5,Classy product,Camera is awesome Best battery backup A perfor...
4,5,Best in the market!,Good Camera
...,...,...,...
95,5,Highly recommended,Thanks Flipkart For this amazing deal! I had a...
96,5,Wonderful,Excellent Fabulous Adorable Iphone 11 Value fo...
97,4,Very Good,I switched to IOS for long term use and for be...
98,5,Brilliant,Perfect iPhone on this budget!! Camera and the...
99,5,Classy product,Outstanding performance this phone

# Question 6

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:

1.	Brand

2.	Product Description

3.	Price
As shown in the below image, you have to scrape the above attributes

In [202]:
#connecting chrome browser to webdriver
driver=webdriver.Chrome()

In [203]:
#open flipkart 
driver.get("https://www.flipkart.com/")

In [204]:
#maximizing the window
driver.maximize_window()

In [205]:
#click to the search input box

first_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
first_click.click()

In [206]:
#sending input Sneakers in the search box

item=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
item.send_keys("Sneakers")

In [207]:
#click to the search button

second_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button")
second_click.click()

In [208]:
#making empty lists to store specific information
brand=[]
price=[]
desc=[]

In [209]:
# count till we get 100 results
count=100

#for page 1
for i in range(1,2):
    
     # brand name 
    for brd in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
        brand.append(brd.text) 
        
     # prices      
    for prc in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
        price.append(prc.text)
        
     # description     
    for dcp in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
        desc.append(dcp.text)
        
        
    #next page button for page 1
    next_=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    next_.click()
    sleep(3)
    

#for page 2 and next page 

for i in range(2,4):
    
    
    # brand name 
        
    for brd in driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']"):
        if len(brand)<count:
            brand.append(brd.text)
            
            
     # prices 
    
    for prc in driver.find_elements(By.XPATH,"//div[@class='_30jeq3']"):
        if len(price)<count:
            price.append(prc.text)
            
    
     # description  
        
    for dcp in driver.find_elements(By.CLASS_NAME,'IRpwTa'):
        if len(desc)<count: 
            desc.append(dcp.text)
            
    
    #next page button for page 2 and next page
    
    next__=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
    next__.click()    
    sleep(2)

In [210]:
#creating dataframe and storing the data

df_4=pd.DataFrame({'Brand':brand,'Price':price,'Description':desc})
df_4

          Brand   Price                                        Description
0   kardam&sons    ₹339  Fashionable Canvas Casual Partywear Outdoor Sn...
1   kardam&sons    ₹419  kardam&sons luxury fashionable Stylish Light W...
2     Deals4you    ₹299                                 Sneakers For Women
3      URBANBOX    ₹299  Trending Stylish Casual Outdoor Shoes Sneakers...
4      RED TAPE  ₹1,737  Casual Sneaker Shoes for Men | Soft Cushioned ...
..          ...     ...                                                ...
95        Abros    ₹682                             ORBIT Sneakers For Men
96       CAMPUS  ₹1,456                             OG-01 Sneakers For Men
97       CAMPUS  ₹1,055                           VIBGYOR Sneakers For Men
98        Sparx    ₹989                            SM-671 Sneakers For Men
99    RUN SEVEN    ₹999  ( by GO21 ) Soft Insole, Slip-Resistance|Walki...

[100 rows x 3 columns]

In [234]:
print('*'*126)
print('                                                SELENIUM                                                                ')
print('*'*126)

******************************************************************************************************************************
                                                SELENIUM
******************************************************************************************************************************