In [20]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
from time import sleep
from selenium.webdriver.common.by import By

# Question 1

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
        
A)Rank 

B) Name 

C) Artist 

D) Upload date 

E) Views

In [6]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load Amazon website
driver.get(" https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

#maximizing the window
driver.maximize_window()


# Locating page for top videos by xpath

search2= driver.find_element(By.XPATH,'//li[@class="vector-toc-list-item vector-toc-level-1 vector-toc-list-item-expanded"][1]/a/div')
search2.click()

sleep(1)

# Empty lists
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views_billions=[]

# scraping information about most viewed videos on YouTube from Wikipedia

#scraping the Rank
Rank= [str(i) for i in range(1, 31)]


#scraping the Video Name 
name=driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div/table[2]/tbody/tr/td[1]')
try:
    for w in name:
        Name.append(w.text)
except:
    Name.append('-')
    
    
#scraping the Artist
art=driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div/table[2]/tbody/tr/td[2]')
try:
    for a in art:
        Artist.append(a.text)
except:
    Artist.append('-')
    
    
#scraping the Upload_Date 
date=driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div/table[2]/tbody/tr/td[4]')
try:
    for d in date:
        Upload_Date.append(d.text)
except:
    Upload_Date.append('-')
    
    
#scraping the Views 
viw=driver.find_elements(By.XPATH,'//div[@id="mw-content-text"]/div/table[2]/tbody/tr/td[3]')
try:
    for v in viw:
        Views_billions.append(v.text)
except:
    Views_billions.append('-')

In [7]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Upload_Date':Upload_Date,'Views_billions':Views_billions})

In [8]:
df

,Rank,Name,Artist,Upload_Date,Views_billions
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,5,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,6,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,7,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,8,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,9,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,10,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,11,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,12,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,13,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,14,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,15,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,16,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,17,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,18,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,19,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,20,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,21,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,22,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,23,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,24,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,25,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,26,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,27,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,28,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,29,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,30,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

# Question-2

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
    
A) Series 

B) Place 

C) Date 

D) Time 

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [31]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get("https://www.bcci.tv/")

#maximizing the window
driver.maximize_window()

sleep(2)

# Locatingthe international fixture page through code.
search1_click=driver.find_element(By.XPATH,'//*[@class="w-100 tab-pane fade  show active "]/ul/div[1]/a[2]')
search1_click.click()

sleep(5)

# Empty Lists
Team_Name=[]
Series_Name=[]
Place=[]
Date=[]
Time=[]

# scraping information about team India’s international fixtures from bcci.tv. 

#scraping the Team_Name 
Team=driver.find_elements(By.XPATH,'//div[@class="col-lg-3 col-md-3 col-sm-12"]/div/div/h5')
try:
    for w in Team:
        Team_Name.append(w.text)
except:
    Team_Name.append('-')
    

#scraping the Series_Name
Series=driver.find_elements(By.XPATH,'//div[@class="match-info"]/div/span[1]')
try:
    for a in Series:
        Series_Name.append(a.text)
except:
    Series_Name.append('-')
    
       
#scraping the Place 
Pal=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
try:
    for d in Pal:
        Place.append(d.text)
except:
    Place.append('-')
    
    
    
#scraping the Date 
Dat=driver.find_elements(By.XPATH,'//div[@class="col-lg-3 col-md-3 col-sm-12"]/div/div/div[2]/div[1]')
try:
    for v in Dat:
        Date.append(v.text)
except:
    Date.append('-')
    
    
#scraping the Time 
Tim=driver.find_elements(By.XPATH,'//div[@class="col-lg-3 col-md-3 col-sm-12"]/div/div/div[2]/div[2]')
try:
    for v in Tim:
        Time.append(v.text)
except:
    Time.append('-')

In [37]:
len(Series_Name)

6

In [38]:
df=pd.DataFrame({'Team_Name':Team_Name,'Series_Name':Series_Name,'Place':Place,'Date':Date,'Time':Time})

In [39]:
df

,Team_Name,Series_Name,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,5th Test,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,1st T20I,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,2nd T20I,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,3rd T20I,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,4th T20I,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,5th T20I,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

# Question-3

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details:
    
A) Rank 

B) State 

C) GSDP(18-19)- at current prices 

D) GSDP(19-20)- at current prices 

E) Share(18-19) 

F) GDP($ billion) 

Note: - From statisticstimes home page you have to reach to economy page through code.

In [52]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get(" http://statisticstimes.com/")

#maximizing the window
driver.maximize_window()

sleep(3)

economy = driver.find_element(By.XPATH,'//*[@class="dropdown"][2]/button')     
economy.click()

sleep(2)

ind = driver.find_element(By.XPATH,'//*[@class="navbar"]/div[2]/div/a[3]')
ind.click()

sleep(2)


gdp = driver.find_element(By.XPATH,'//*[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')    
gdp.click()


# Empty Lists
Rank=[]
State=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]
GDP=[]


# scraping information about State-wise GDP of India
#scraping the Rank 
Rak=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
try:
    for w in Rak:
        Rank.append(w.text)
except:
    Rank.append('-')
    
    
#scraping the State
Stat=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
try:
    for a in Stat:
        State.append(a.text)
except:
    State.append('-')
    
    
#scraping the GSDP_Current 
Current=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
try:
    for d in Current:
        GSDP_Current.append(d.text)
except:
    GSDP_Current.append('-')
    
    
#scraping the GSDP_Previous 
Previous=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
try:
    for v in Previous:
        GSDP_Previous.append(v.text)
except:
    GSDP_Previous.append('-')
    
#scraping the Share
Shar=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
try:
    for a in Shar:
        Share.append(a.text)
except:
    Share.append('-')
    
    
#scraping the GDP 
GDP_=driver.find_elements(By.XPATH,'//*[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
try:
    for d in GDP_:
        GDP.append(d.text)
except:
    GDP.append('-')

In [60]:
len(GDP)

33

In [63]:
df=pd.DataFrame({'Rank':Rank,'State':State,'Share In GDP':Share,'GSDP_Current':GSDP_Current,'GSDP_Previous':GSDP_Previous,'GDP of State':GDP})

In [64]:
df

,Rank,State,Share In GDP,GSDP_Current,GSDP_Previous,GDP of State
0,1,Maharashtra,13.24%,-,"3,108,022",417.163
1,2,Tamil Nadu,8.82%,"2,364,514","2,071,286",278.011
2,3,Uttar Pradesh,8.41%,"2,257,575","1,974,532",265.024
3,4,Karnataka,8.36%,"2,241,368","1,962,725",263.440
4,5,Gujarat,8.25%,-,"1,937,066",259.996
5,6,West Bengal,5.81%,"1,554,992","1,363,926",183.068
6,7,Rajasthan,5.19%,"1,413,620","1,218,193",163.507
7,8,Madhya Pradesh,4.84%,"1,322,821","1,136,137",152.494
8,9,Andhra Pradesh,4.83%,"1,317,728","1,133,837",152.185
9,10,Telangana,4.81%,"1,313,391","1,128,907",151.523
10,11,Kerala,3.97%,-,"932,470",125.157
11,12,Delhi,3.85%,"1,043,759","904,642",121.422
12,13,Haryana,3.71%,"994,154","870,665",116.862
13,14,Odisha,2.86%,"774,869","670,881",90.047
14,15,Bihar,2.77%,"751,396","650,302",87.284
15,16,Punjab,2.62%,"673,107","614,227",82.442
16,17,Assam,1.76%,"493,167","412,612",55.381
17,18,Chhattisgarh,1.73%,"457,608","406,416",54.550
18,19,Jharkhand,1.53%,"393,722","358,863",48.167
19,20,Uttarakhand,1.16%,"302,621","272,159",36.530
20,21,Jammu & Kashmir-UT,0.85%,"227,927","199,917",26.833
21,22,Himachal Pradesh,0.75%,"195,405","176,269",23.659
22,23,Goa,0.35%,-,"82,604",11.087
23,24,Tripura,0.27%,"72,636","62,550",8.396
24,25,Chandigarh,0.19%,-,"45,635",6.125
25,26,Puducherry,0.19%,-,"44,238",5.938
26,27,Meghalaya,0.17%,"42,697","38,785",5.206
27,28,Sikkim,0.16%,"42,756","37,557",5.041
28,29,Manipur,0.16%,-,"36,594",4.912
29,30,Arunachal Pradesh,0.15%,-,"35,124",4.714
30,31,Nagaland,0.14%,-,"31,913",4.283
31,32,Mizoram,0.12%,-,"27,824",3.735
32,33,Andaman & Nicobar Islands,0.04%,-,"10,371",1.392

# Question-4

Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get("https://github.com/")

#maximizing the window
driver.maximize_window()

Menu_1 = driver.find_element(By.XPATH,'//*[@class="d-lg-flex list-style-none"]/li[3]/button')     
Menu_1.click()

sleep(2)

trending = driver.find_element(By.XPATH,'//*[@class="d-lg-flex list-style-none"]/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

sleep(4)

# Empty Lists
Title=[]
Description=[]
Contributors_count=[]
Language=[]

# scraping information about trending repositories on Github

#scraping the Title 
Tit=driver.find_elements(By.XPATH,'//*[@class="Box-row"]/h2/a')
try:
    for w in Tit[0:22]:
        Title.append(w.text)
except:
    Title.append('-')
    
    
#scraping the Description
Descr=driver.find_elements(By.XPATH,'//*[@class="Box-row"]/p')
try:
    for a in Descr[0:22]:
        Description.append(a.text)
except:
    Description.append('-')
    
    
#scraping the Contributors_count 
count=driver.find_elements(By.XPATH,'//*[@class="Box-row"]/div[2]/a[2]')
try:
    for d in count[0:22]:
        Contributors_count.append(d.text)
except:
    Contributors_count.append('-')
    
    
#scraping the Language 
Lang=driver.find_elements(By.XPATH,'//*[@class="Box-row"]/div[2]/span[1]')
try:
    for v in Lang[0:22]:
        Language.append(v.text)
except:
    Language.append('-')

In [3]:
df=pd.DataFrame({'Title':Title,'Description':Description,'Contributors_count':Contributors_count,'Language':Language})

In [4]:
df

,Title,Description,Contributors_count,Language
0,WongKinYiu / yolov9,Implementation of paper - YOLOv9: Learning Wha...,510,Python
1,massgravel / Microsoft-Activation-Scripts,A Windows and Office activator using HWID / Oh...,"6,472",Batchfile
2,ollama / ollama,"Get up and running with Llama 2, Mistral, Gemm...","2,662",Go
3,vvbbnn00 / WARP-Clash-API,该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...,472,Python
4,qarmin / czkawka,"Multi functional app to find duplicates, empty...",520,Rust
5,mttaggart / I-S00N,Anxun Shanghai (I-SOON) Data Dump Translations...,278,Built by
6,MHSanaei / 3x-ui,Xray panel supporting multi-protocol multi-use...,"1,181",JavaScript
7,jellyfin / jellyfin,The Free Software Media System,"2,648",C#
8,google / gemma.cpp,"lightweight, standalone C++ inference engine f...",349,C++
9,EbookFoundation / free-programming-books,📚 Freely available programming books,"59,135",Built by
10,public-apis / public-apis,A collective list of free APIs,"30,720",Python
11,gunnarmorling / 1brc,1️⃣🐝🏎️ The One Billion Row Challenge -- A fun ...,"1,270",Java
12,KillianLucas / open-interpreter,A natural language interface for computers,"3,561",Python
13,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,"19,860",Built by
14,mouredev / Hello-Python,Curso para aprender el lenguaje de programació...,"1,354",Python
15,ashishps1 / awesome-system-design-resources,This repository contains System Design resourc...,"1,950",Built by
16,state-spaces / mamba,Joplin - the secure note taking and to-do app ...,547,Python
17,laurent22 / joplin,"Performance-portable, length-agnostic SIMD wit...","4,376",TypeScript
18,OpenCodeInterpreter / OpenCodeInterpreter,The Python Risk Identification Tool for genera...,75,Python
19,zksync / credo,"shadcn/ui, but for Svelte. ✨",948,Built by
20,google / highway,Dev tool that writes scalable apps from scratc...,276,C++
21,Azure / PyRIT,"A multi-platform library for OpenGL, OpenGL ES...",96,Python

# Question-5

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 

following details: 

A) Song name m

B) Artist name 

C) Last week rank 

D) Peak rank 

E) Weeks on board 

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [21]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get("https:/www.billboard.com/")

#maximizing the window
driver.maximize_window()

In [29]:
Menu_1 = driver.find_element(By.XPATH,'//*[@class="u-overflow-hidden "]/header/div/div[4]/div/div/div/button')     
Menu_1.click()

In [30]:
top_100 = driver.find_element(By.XPATH,'//*[@class="mega-menu__main // js-MegaMenu lrv-u-margin-lr-auto lrv-u-width-100p u-max-width-1000 u-flex-1"]/ul/li[1]/ul/li[2]/a')
top_100.click()

In [31]:
# Empty Lists
Song_name=[]
Artist_name=[] 
Last_week_rank=[] 
Peak_rank =[]
Weeks_on_board=[]

In [32]:
#scraping the Song_name 
Song=driver.find_elements(By.XPATH,'//*[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li/h3')
try:
    for w in Song:
        Song_name.append(w.text)
except:
    Song_name.append('-')
    
    
#scraping the Artist_name
Art=driver.find_elements(By.XPATH,'//*[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[1]/span')
try:
    for a in Art:
        Artist_name.append(a.text)
except:
    Artist_name.append('-')
    
    
#scraping the Last_week_rank 
Last=driver.find_elements(By.XPATH,'//*[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[4]/span')
try:
    for d in Last:
        Last_week_rank.append(d.text)
except:
    Last_week_rank.append('-')

     
#scraping the Peak_rank 
Peak=driver.find_elements(By.XPATH,'//*[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[5]/span')
try:
    for v in Peak:
        Peak_rank.append(v.text)
except:
    Peak_rank.append('-')
    
    
#scraping the Weeks_on_board 
Weeks=driver.find_elements(By.XPATH,'//*[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[6]/span')
try:
    for f in Weeks:
        Weeks_on_board.append(f.text)
except:
    Weeks_on_board.append('-')

In [33]:
df=pd.DataFrame({'Song_name':Song_name,'Artist_name':Artist_name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})

In [34]:
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

# Question-6

6. Scrape the details of Highest selling novels. 

A) Book name 

B) Author name 

C) Volumes sold 

D) Publisher 

E) Genre 

Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [6]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

#maximizing the window
driver.maximize_window()

sleep(2)

# Empty Lists
Rank=[]
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

#scraping the Rank 
Ran=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[1]')
try:
    for r in Ran:
        Rank.append(r.text)
except:
    Rank.append('-')


#scraping the Book_name 
name=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[2]')
try:
    for w in name:
        Book_name.append(w.text)
except:
    Book_name.append('-')
    
    
#scraping the Author_name
Author=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[3]')
try:
    for a in Author:
        Author_name.append(a.text)
except:
    Author_name.append('-')
    
    
#scraping the Volumes_sold 
sold=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[4]')
try:
    for d in sold:
        Volumes_sold.append(d.text)
except:
    Volumes_sold.append('-')
    
    
#scraping the Publisher 
Pub=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[5]')
try:
    for v in Pub:
        Publisher.append(v.text)
except:
    Publisher.append('-')
    
    
#scraping the Genre 
Gen=driver.find_elements(By.XPATH,'//*[@class="embed block"]/table/tbody/tr/td[6]')
try:
    for f in Gen:
        Genre.append(f.text)
except:
    Genre.append('-')

In [7]:
df=pd.DataFrame({'Rank':Rank,'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})

In [8]:
df

,Rank,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question-7

7. Scrape the details most watched tv series of all time from imdb.com. 

Url = https://www.imdb.com/list/ls095964455/ You have 

to find the following details: 

A) Name 

B) Year span 

C) Genre 

D) Run time 

E) Ratings 

F) Votes

In [11]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get("https://www.imdb.com/list/ls512407256/")

#maximizing the window
driver.maximize_window()

sleep(2)

# Empty Lists
Rank=[]
Name=[]
Year_span=[]
Genres=[]
Run_time=[]
Ratings=[]
Votes=[]

#scraping the Rank 
Ran=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/h3/span[1]')
try:
    for r in Ran:
        Rank.append(r.text)
except:
    Rank.append('-')


#scraping the Name 
name=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/h3/a')
try:
    for w in name:
        Name.append(w.text)
except:
    Name.append('-')
    
    
#scraping the Year_span
span=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/h3/span[2]')
try:
    for a in span:
        Year_span.append(a.text)
except:
    Year_span.append('-')
    
    
#scraping the Genres 
Gen=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/p/span[5]')
try:
    for d in Gen:
        Genres.append(d.text)
except:
    Genres.append('-')
    
    
#scraping the Run_time 
time=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/p/span[3]')
try:
    for v in time:
        Run_time.append(v.text)
except:
    Run_time.append('-')
    
    
#scraping the Ratings 
Rat=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/div[1]/div[1]')
try:
    for f in Rat:
        Ratings.append(f.text)
except:
    Ratings.append('-')
    
    
#scraping the Votes 
Vot=driver.find_elements(By.XPATH,'//*[@class="lister list detail sub-list"]/div[3]/div/div/p[4]/span[2]')
try:
    for f in Vot:
        Votes.append(f.text)
except:
    Votes.append('-')

In [12]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'Year_span':Year_span,'Genres':Genres,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})

In [13]:
df

,Rank,Name,Year_span,Genres,Run_time,Ratings,Votes
0,1.,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,260,779"
1,2.,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,319,257"
2,3.,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,071,315"
3,4.,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,316"
4,5.,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,189"
...,...,...,...,...,...,...,...
95,96.,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"643,819"
96,97.,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"161,965"
97,98.,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,793"
98,99.,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"432,868"
99,100.,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,613"

# Question-8

8. Details of Datasets from UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/ You 

have to find the following details: 
A) Dataset name 

B) Data type 

C) Task 

D) Attribute type 

E) No of instances 

F) No of attribute G) Year 

Note: - from the home page you have to go to the Show All Dataset page through code.

In [15]:
# chrome browser to webdriver
driver=webdriver.Chrome()

# Load google maps
driver.get(" https://archive.ics.uci.edu/")

#maximizing the window
driver.maximize_window()

sleep(2)

View_Datasets = driver.find_element(By.XPATH,'//*[@class="flex flex-wrap justify-center gap-5"]/a[1]')     
View_Datasets.click()

sleep(5)

Expand_all = driver.find_element(By.XPATH,'//*[@class="btn-primary btn-sm btn flex gap-2 rounded-full"]/div[2]')     
Expand_all.click()

In [16]:
# Empty Lists
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_Instances=[]
No_of_Attribute=[]
Year=[]

In [17]:
#scraping the Dataset_Name 
name=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div/div[2]/h2/a')
try:
    for w in name:
        Dataset_Name.append(w.text)
except:
    Dataset_Name.append('-')
    
    
#scraping the Data_Type
Data=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[2]/span')
try:
    for a in Data:
        Data_Type.append(a.text)
except:
    Data_Type.append('-')
    
    
#scraping the Task 
Tas=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[1]/span')
try:
    for d in Tas:
        Task.append(d.text)
except:
    Task.append('-')
    
    
#scraping the Attribute_Type 
Attr=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div[2]/div/table/tbody/tr/td[2]')
try:
    for v in Attr:
        Attribute_Type.append(v.text)
except:
    Attribute_Type.append('-')
    
    
#scraping the No_of_Instances 
Inst=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[3]/span')
try:
    for f in Inst:
        No_of_Instances.append(f.text.replace('Instances',''))
except:
    No_of_Instances.append('-')
    
    
#scraping the No_of_Attribute 
Attrib=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div/div[2]/div/div[4]/span')
try:
    for f in Attrib:
        No_of_Attribute.append(f.text.replace('Features',''))
except:
    No_of_Attribute.append('-')
    
    
#scraping the Year 
Yer=driver.find_elements(By.XPATH,'//*[@class="flex flex-col gap-1"]/div/div[2]/div/table/tbody/tr/td[3]')
try:
    for f in Yer:
        Year.append(f.text)
except:
    Year.append('-')

In [18]:
df=pd.DataFrame({'Dataset_Name':Dataset_Name,'Data_Type':Data_Type,'Task':Task,'Attribute_Type':Attribute_Type,'No_of_Instances':No_of_Instances,'No_of_Attribute':No_of_Attribute,'Year':Year})

In [19]:
df

,Dataset_Name,Data_Type,Task,Attribute_Type,No_of_Instances,No_of_Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,7/1/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K,16,9/14/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,7/1/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K,7,10/6/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K,14,5/1/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,8,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,11/1/1995
7,Wine,Tabular,Classification,"Integer, Real",178,13,7/1/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K,12,10/7/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,N/A
10,Car Evaluation,Multivariate,Classification,Categorical,1.73K,6,6/1/1997
11,Bank Marketing,Multivariate,Classification,"Categorical, Integer",45.21K,17,2/14/2012
12,Mushroom,Multivariate,Classification,Categorical,8.12K,22,4/27/1987
13,Abalone,Tabular,"Classification, Regression","Categorical, Integer, Real",4.18K,8,12/1/1995
14,Student Performance,Multivariate,"Classification, Regression",Integer,649,33,11/27/2014
15,Census Income,Multivariate,Classification,"Categorical, Integer",48.84K,14,5/1/1996
16,Online Retail,"Multivariate, Sequential, Time-Series","Classification, Clustering","Integer, Real",541.91K,8,11/6/2015
17,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,25,5/19/1987
18,Statlog (German Credit Data),Multivariate,Classification,"Categorical, Integer",1K,20,11/17/1994
19,Breast Cancer,Multivariate,Classification,Categorical,286,9,7/11/1988
20,Auto MPG,Multivariate,Regression,"Real, Categorical, Integer",398,7,7/7/1993
21,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,9,7/15/1992
22,Spambase,Multivariate,Classification,"Integer, Real",4.6K,57,7/1/1999
23,Predict Students' Dropout and Academic Success,Tabular,Classification,"Real, Categorical, Integer",4.42K,36,12/13/2021
24,Glass Identification,Multivariate,Classification,Real,214,9,9/1/1987